{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nplace-rank-check.css') }}">
{% endblock %}

{% block header_title %}키워드별 순위 체크{% endblock %}

{% block content %}
<section class="rank-check">
    <div class="form-container">
        <form method="post">
            <table class="input_container">
                <tr>
                    <td>
                        <label for="username">어서오세요, {{ username }}님!</label> <br><br>
                        <label for="place_id">플레이스 ID : </label> {{ user_info[4] if user_info else '' }}
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <label for="vip_date">VIP 멤버쉽 : </label>
                        <label style="font-weight:bold;">{{ user_info[5] if user_info else '' }}</label> 까지
                    </td>
                </tr>
                {% if error %}
                    <p class="error-message">{{ error }}</p>
                {% endif %}

                {% if user_info %}
                <tr>
                    <td>
                        <label for="new_keyword"><input type="text" name="new_keyword" id="new_keyword" required></label>
                        <input type="submit" name="add_keyword" value="Add Keyword">
                    </td>
                </tr>
                {% endif %}
            </table>
        </form>
    </div>

    {% if keywords %}
        <div class="results-table-container">
            <h2>네이버 키워드별 순위 결과</h2>
            
            {% for keyword in keywords %}
            <table>    
                <tr>
                    <th class="table-tr-header">키워드</th>
                    <td>
                        <span id="keyword-{{ keyword.keyword }}" class="truncate">{{ keyword.keyword }}</span>
                    </td>
                </tr>
                <tr>
                    <th class="table-tr-header">순위</th>
                    <td id="result-{{ keyword.keyword }}">
                        <table class="results-table">
                            {% for row in range(3) %}
                            <tr>
                                {% for col in range(10) %}
                                <td>
                                    {% if row * 8 + col < keyword.results|length %}
                                        {% set result = keyword.results[row * 8 + col] %}
                                        {{ result.search_date.strftime('%m-%d') }}<br>
                                        <strong>{{ result.result }}</strong>
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <th class="table-tr-header">동작</th>
                    <td>
                        <button id="run-btn-{{ keyword.keyword }}" class="run-now-btn" type="button" onclick="runNow('{{ keyword.keyword }}', '{{ user_info[4] if user_info else '' }}')">재실행</button>
                        <button type="button" class="delete-btn" onclick="deleteKeyword('{{ keyword.keyword }}')">삭제</button>
                    </td>
                </tr>
            </table>
            <br/>
            {% endfor %}
        
        </div>
    {% endif %}

    <form id="edit_keyword_form" method="post" style="display:none;">
        <input type="hidden" id="edit_keyword_id" name="keyword_id">
        <input type="hidden" id="edit_keyword_input" name="new_keyword">
        <input type="hidden" name="edit_keyword" value="true">
    </form>

    <form id="delete_keyword_form" method="post" style="display:none;">
        <input type="hidden" id="delete_keyword_id" name="keyword_id">
        <input type="hidden" name="delete_keyword" value="true">
    </form>
</section>
<!-- 도움말 팝업 -->
<div id="helpPopup" class="help-popup">
    <h3>도움말</h3>
    <p>이 페이지에서 네이버 플레이스 키워드별 순위를 확인할 수 있습니다.</p>
    <p>1. "키워드 입력"에 원하는 키워드를 입력하고 "Add Keyword" 버튼을 클릭하세요.</p>
    <p>2. 추가된 키워드는 테이블에 표시되며, "재실행" 버튼을 눌러 순위를 확인할 수 있습니다.</p>
    <p>3. 키워드를 삭제하려면 "삭제" 버튼을 클릭하세요.</p>
    <button onclick="closeHelpPopup()">닫기</button>
</div>
{% endblock %} 